recursive-exclude * __pycache__
include *.rst
include LICENSE.md
include README.rst
include CONTRIBUTING.rst
include CHANGELOG.rst
include requirements.txt
recursive-include docs *
prune docs/build
recursive-include Examples *
recursive-include Examples *.ipynb *.png
prune Examples/.ipynb_checkpoints
prune Examples/Old
prune Examples/outputs
exclude Examples/*.eps
